@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Montserrat:wght@100;400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/*Body max width 1200px*/
body{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 25px 50px 25px;
    display: flex;
    flex-direction: column;
}

h1{
    font-family: 'Caprasimo', cursive;
    font-size: 3rem;
    text-align: center;
    font-weight: 100;
    margin: 2rem 0;
}

p{
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 1rem 0;
}

p span{
    font-weight: bold;
    color: #3d827f;
}

a{
    color: #3d827f;
    text-decoration-color: #3d827f;
    text-underline-offset: 2px;
    border-radius: 4px;
}
a:visited{
    color: black;
}

a:hover, a:focus{
    color: #fff;
    background-color: #3d827f;
    text-decoration-color: #fff;
}

header h1{
    border-bottom: dotted 5px #3d827f;
}

main{
    padding: 2rem;
}

main article{
    margin: 2rem 0;
    padding: 0.5rem;
    border-top: 1px solid #ccc;
}

main .video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

main .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer{
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 2rem 0;
}

footer h2{
    font-size: 1rem;
    text-align: center;
    margin: 2rem 0;
    font-style: italic;
}

ul#socials{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 2rem 0;
    font-size: 4rem;
}

ul#socials li a{
    color: #3d827f;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    padding: 5px 10px;
    border-radius: 5px;
}

ul#socials li a:visited{
    border: 10px solid #000;
}

ul#socials li a:hover,
ul#socials li a:focus {
    color: #fff;
    background-color: #3d827f;
}

ul#socials li{
    margin: 0 1rem;
}
